*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
#aboutUs{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#aboutUs img{
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.content{
    margin: 20px 0;
}
.content h2{
    font-size: 50px;
    color: #ffca70;
}
.content h4{
    color: #fff;
    font-size: 20px;
    margin: 10px 0;

}
.description{
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}
.btn{
    font-weight: bold;
    border: 2px solid #ffca70;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    background-color: #ffca70;
}
.btn:hover{
    border: 2px solid #ffca70;
    color:#ffca70;
    background-color: transparent;
}
@media screen and (max-width: 790px){
    #aboutUs img{
        width: 80%;
    }
    #aboutUs{
        grid-template-columns: 1fr;
        place-items: center;
    }
}
