*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
  background-color: khaki;
}
.main-confirmation{
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    background-color: #000000bd;
}
.confirmation{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}
.confirmation li{
    list-style: none;
    font-size: 25px;
    color: #e65b00;
    line-height: 50px;
    position: relative;
    left: 120px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.content{
    position: relative;
}
button{
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input.disabled,
textarea.disabled{
    pointer-events: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
form h2{
    text-align: center;
    color: #e65b00;
    margin-bottom: 20px;
}
form input,
textarea{
    border: none;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    resize: none;
}
form button{
    background: white;
    color: #e65b00;
    border: 1px solid #e65b00;
    padding: 15px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin:20px auto 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
form button:hover{
    border: 1px solid #e65b00;
    background: #e65b00;
    color: white;
}
.one-check{
    padding-left: 15px;
}
