@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar {
    background-color: rgb(203, 240, 117);
    display :flex;
    justify-content: space-around;
   
   
    line-height: 5rem;
}

.left h1 {
    cursor: pointer;
    font-size: 2.5rem;
}


.navbar ul {
    display: flex;
    list-style: none;
    margin-right:0;
}
.navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.navbar ul li a:hover{
    background-color: white;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    color: rgb(22,7,36);
}
.home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}
.home-left, .home-rigth{
    width: 28rem;
    margin-top: 1.5rem;
}
.heading{
    line-height: 2.5rem;
    font-size: 2rem;
    margin: 1rem auto;
}
.bold-heading{
    font-weight: bold;
}
.description{
    font-size: .9rem;
}
.home-right{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    cursor: pointer;
  
}
.home-right img{
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 20rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    box-shadow: 1px 7px 13px 0 #58555369;
}
.home-right:hover img{
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    box-shadow: 8px 14px 25px 0 #58555369 ;
}
.home-left h2{
    margin: 1rem 0;
}
.contact{
    margin: .8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact p, a {
     margin-top: 1rem;
}
.contact a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: .7rem .9rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.contact a:hover{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    box-shadow: 8px 14px 25px 0 #27242469;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.countdown{
    width:80%;
    margin: 2rem auto;
    text-align: center;
}
.timer-container{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.timer-container p{
    margin: 0 .5rem;
}
.number{
    font-size: 2rem;
    font-weight: bold;
}
.days, 
.minutes{

font-size: 1.3rem;
    font-weight: bold;
}
@media screen and (max-width: 570px) {
    .home-right img{
        width: 15%;
    }
    .home-section,
    .countdown{
        padding: 0;
        margin: 1rem auto;
    }
}
@media screen and (max-width: 1153px) {
    .home-left {
        width: 100%;
    }
}
