* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-section {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
}
.footer{
    display: flex;
    color: #fffefe;
    padding: 2rem 0;
    background-color: black;
}