*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    border-color: darkcyan;

}
.footer{
    padding:10px 20px;
    background-color: darkslategray;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.website-heading{
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  font-size: 35px;
     
}
.footer-item{
    width: 250px;
    margin: 10px;
    padding: 10px;
}
.footer-heading{
    color: #e65b00;
    font-size: 20px;
    margin: 20px 0;
}
.footer ul li{
    list-style: none;
    font-size: 15px;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;

}
.footer ul li:hover{
    color: #e65b00;
}