*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #a499f6;
}
.form-container{
    display: block;
    margin: auto;
    width: 400px;
    background-color: rgb(255,255,255,0.13);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form h3{
    font-size: 35px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px black;
}
label{
    display: block;
    margin-top: 2rem;
    font-size: 1rem;
}
input{
    outline:none;
    border: none;
    width: 100%;
    background-color: #f4f3f367;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 15px 10px;
    margin-top: 8px;
    font-weight: 100;
}
input::placeholder{
    color: rgb(87,79,79);
}
.pass{
    position: relative;
}
.pass i{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    right: 20px;
}
#show-hide{
    font-size: 1rem;
}
button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border:none;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
button:hover{
    transform: translate(-0.25rem,-0.25rem);
    -webkit-transform: translate(-0.25rem,-0.25rem);
    -moz-transform: translate(-0.25rem,-0.25rem);
    -ms-transform: translate(-0.25rem,-0.25rem);
    -o-transform: translate(-0.25rem,-0.25rem);
    box-shadow: 0.25rem 0.25rem #2a2a2c;
}
.social-container h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social{
    display: flex;
    justify-content: center;
    width: 100%;
}
.social div{
    width: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 5px;
    background-color: rgba(255,255,255,0.27);

    text-align: center;
    margin: 0 14px;
    cursor: pointer;

}
hr{
 margin-top: 20px;
 height: 1px;
 background-color: #ffffff7f;
 border: none;
 outline: navajowhite;
}
.social div:hover{
    background-color: rgba(248,247,247,0.511);
}
.social a{
    text-decoration: none;
}
.go{
    color: #e60000;
}
.fb{
    color: blue;
}
.social i{
    margin-right: 4px;
}
@media screen and (max-width: 426px){
    form{
        width: 100%;
    }
}