
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 600px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.images{
    display: flex;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
img{
    width: 100%;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 5px rgb(62,27,155);
}
.buttons{
    position: absolute;
    display: flex;
    top: 70%;
}
.buttons input{
    margin: 2px;
    cursor: pointer;
    color: blue;
}