*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:100%;
    height:100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c46629;
}
.accordion{
     color:#000;
     background: #fff;
     width: 25rem;
     height: 2.8rem;
     cursor: pointer;
     overflow: hidden;
     margin: 1rem 0;
     border-radius: 9px  ;
     -webkit-border-radius: 9px  ;
     -moz-border-radius: 9px  ;
     -ms-border-radius: 9px  ;
     -o-border-radius: 9px  ;
     transition: all .3s;
     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     -ms-transition: all .3s;
     -o-transition: all .3s;
}
.accordion:hover{
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);

}
.accordionTop{
    position: relative;
    margin: .6rem 1rem;
}
.accordionTop h2{
    font-size: 1.2rem;
}
.accordionTop::after {
    content: '+';
    font-weight: bold;
    font-size: 1.9rem;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.content{
    height: 0px;
    padding: 1rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
hr{
    opacity: 0;
}
.accordion.active{
    height: auto;
}
.para {
    font-size: 15px;
}
.accordion.active hr{
    opacity: 1.0;
}
.accordion.active .accordionTop::after{
    content: '-'
}
.accordion.active .content{
    height: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
@media screen and (max-width: 420px){
    .accordion{
        width: 90%;
        margin: .6rem auto;
    }
    .accordionTop h2{
        font-size: 1.1rem;
    }
}
