* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #2e2333;
}

.navigation {
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.desktop {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem 5rem;
    justify-content: space-between;
}

.desktop h2 {
    font-size: 27px;
}
.desktop ul{
    list-style: none;
    display: flex;
}
.desktop ul li{
    opacity: 0.6;
}
.desktop ul li:hover{
    opacity: 1;
}
.desktop ul li a{
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;

}
hr{
    width: 100%;
    opacity: 0.2;
}
.phone{
    display: none;
}
@media screen and (max-width: 640px){
    .desktop{
        display: none;
    }
    .phone{
        display: flex;
        position: absolute;
        bottom: 10px;
    }
    .phone ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
    }
    .phone ul li{
        cursor: pointer;
        margin: 5px 10px;
        opacity: 0.4;
    }
    .phone ul li:hover{
        opacity: 1.0;
    }
    .phone ul li a{
        text-decoration: none;
        color: #fff;
        margin-left:10px;
    }
    hr{
        position: absolute;
        color: #fff;
        width: 100%;
        bottom: 50px;

    }
}
@media screen and (max-width: 445px) {
    .phone ul li {
        display: flex;
        margin: 5px 10px;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .phone ul li a {
        margin-left: 0px;
    }

    .phone ul li a,
    .phone ul li i {
        font-size: 13px;
    }

    hr {
        position: absolute;
        bottom: 65px;
        width: 100%;
        color: #fff;
    }
}
