*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    padding:30px;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin: 20px;
    padding: 20px;
    width: 500px;
    display: grid;
    min-height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
   grid-template-rows: 20px 50px 1fr 50px;
   box-shadow: 0px 6px 10px rgba(74,70,74,0.414);
}
.card:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.4);
}
.readMore,
.close,
.card div{
    cursor:pointer;
    text-decoration: none;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}
.card div ul{
    display: flex;
    list-style: none;
}
.card div ul li{
    margin: 0 .3rem;
    font-size: 1.1rem;
}
.desc{
    color: rgb(66,59,59);
}
.readMore:hover{
    color:#fff;
}
.readMore:hover::after{
    width: 100%;
}
.close{
    grid-row:1/2;
    justify-self: end;
}
.card1{
    background: #3fbafe;

}
.card2{
    background: #f7a976;

}
.card3{
    background: #b69efe;
}
.card4{
    background: cyan;
}
.card5{
    background: khaki;
}
@media screen and (max-width: 1600px){
    .cards{
        justify-content: center;
    }
}
