* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#services {
    width: 100%;
}

.heading {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
    font-family: system-ui;
}

#services p {
    text-align: center;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.services-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.service-item {
    width: 20rem;
    margin: 1rem;
    padding: 10px;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s linear;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0, 0.1);
}

.service-item:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.2);
}

.service-item ul li {
    width: 50px;
    height: 50px;
    color: white;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e65000;
}

.service-heading {
    margin: 1rem 0;
    text-align: center;
    color: #000000b7;
    font-family: system-ui;
}

article p {
    font-size: 14px;
    color: #000000b7;
}

.service-item:hover p,
.service-item:hover .service-heading {
    color: #000000;
}

